body {
  background-color: #e4e0d5;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: 100%;
  }

.spacer {
  margin: auto;
  width: 80%;
  visibility: visible;
}

.letters {
  visibility: hidden;
  margin: auto;
  width: 80%;
}

.alphabet {
  height: 40px;
  width: 35px;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  border-color: black;
  margin: 4px;
  border-radius: 5px;
  text-transform: capitalize;
}

.letterInputDiv {
  visibility: hidden;
  width: 80%;
  margin: 0 auto;
  padding: 20px 20px 50px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 8px;
}

.letterBox {
  height: 40px;
  width: 35px;
  text-align: center;
  border-color: black;
  margin: 7px;
  border-radius: 5px;
  text-transform: capitalize;
}

#canvas {
  width: 80%;
  border: 2px solid black;
  visibility: hidden;
  margin: auto;
  display: block;
  border-radius: 5px;
}

#guessTheWord {
  float:left;
  vertical-align: middle;
}

#refreshPage {
  visibility: hidden;
  vertical-align: middle;
  float:right;
}

#mute-btn {
  vertical-align: middle;
  float:left;
}